<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>The Skets - Listen</title>
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-37K2WBR8M6"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-37K2WBR8M6');
    </script>
    <style>
        @media screen and (max-width: 900px) {
            .mqury {
                position: relative !important;
                width: 100% !important;
                padding-right: 15px !important;
                padding-left: 15px !important;
                max-width: fit-content !important;
            }
        }
    </style>

    <meta property="og:title" content="The Skets Official Website">
    <meta property="og:site_name" content="The Skets">
    <meta property="og:url" content="TheSkets.com">
    <meta property="og:description" content="">
    <meta property="og:type" content="article">
    <meta property="og:image" content="https://theskets.com/assets/header-new.jpg">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="/">The Skets</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/listen">Listen to The Skets</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text">Listen to The Skets:</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="row justify-content-between align-items-center m-auto">
                        <div class="border rounded shadow mqury" style="max-width: 30%;position: relative;width: 100%;padding-right: 15px;padding-left: 15px;background-color: rgba(242,242,242,0.69);">
                            <h3 class="text-black" style="margin-top: 10px;font-size: 1.4em;">Smells Like Teen Spirit - Live in M1</h3>
                            <img style="width: 100%; height: auto;" src="/assets/thumbnails/smells-like-teen-spirit.jpg" />
                            <button onclick="window.location.href='/watch/smells-like-teen-spirit'" class="btn btn-outline-secondary border rounded" style="color: #000;font-family: Lato, sans-serif;margin-bottom: 10px;margin-top: 10px;">Watch <i class="fa fa-arrow-right"></i></button>
                        </div>
                        <div class="border rounded shadow mqury" style="max-width: 30%;position: relative;width: 100%;padding-right: 15px;padding-left: 15px;background-color: rgba(242,242,242,0.69);">
                            <h3 class="text-black" style="margin-top: 10px;font-size: 1.4em;">While My Guitar Gently Weeps - Live in M1</h3>
                            <img style="width: 100%; height: auto;" src="/assets/thumbnails/while-my-guitar-gently-weeps.jpg" />
                            <button onclick="window.location.href='/watch/while-my-guitar-gently-weeps'" class="btn btn-outline-secondary border rounded" style="color: #000;font-family: Lato, sans-serif;margin-bottom: 10px;margin-top: 10px;">Watch <i class="fa fa-arrow-right"></i></button>
                        </div>
                        <div class="border rounded shadow mqury" style="max-width: 30%;position: relative;width: 100%;padding-right: 15px;padding-left: 15px;background-color: rgba(242,242,242,0.69);">
                            <h3 class="text-black" style="margin-top: 10px;font-size: 1.4em;">Caught by the Fuzz - Live in M1</h3>
                            <img style="width: 100%; height: auto;" src="/assets/thumbnails/caught-by-the-fuzz.jpg" />
                            <button onclick="window.location.href='/watch/caught-by-the-fuzz'" class="btn btn-outline-secondary border rounded" style="color: #000;font-family: Lato, sans-serif;margin-bottom: 10px;margin-top: 10px;">Watch <i class="fa fa-arrow-right"></i></button>
                        </div>
                        <div style="padding-top:15px;" class="row justify-content-between align-items-center m-auto">
                            <div class="border rounded shadow mqury" style="max-width: 30%;position: relative;width: 100%;padding-right: 15px;padding-left: 15px;background-color: rgba(242,242,242,0.69);">
                                <h3 class="text-black" style="margin-top: 10px;font-size: 1.4em;">Rock N' Roll Star - Live in M1</h3>
                                <img style="width: 100%; height: auto;" src="/assets/thumbnails/rock-n-roll-star.jpg" />
                                <button onclick="window.location.href='/watch/rock-n-roll-star'" class="btn btn-outline-secondary border rounded" style="color: #000;font-family: Lato, sans-serif;margin-bottom: 10px;margin-top: 10px;">Watch <i class="fa fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row" style="text-align: center;">
                <div class="col-sm-3" style="text-align: left;">
                    <ul>
                        <li><a href="https://twitter.com/OfficialSkets">Twitter</a></li>
                        <li><a href="https://www.instagram.com/official_theskets/">Instagram</a></li>
                        <li><a href="https://discord.gg/gdHMhxXtDA">Discord</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2022 The Skets</p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
</body>

</html>